include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.row
            div.col.s6.push-s3
                h2(style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;").blue-text.text-lighten-2 Akademik Kadro
        div.row
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="http://euniversite.nku.edu.tr/personel_genel_resimler/ercanbulus.jpg">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Doç. Dr. Ercan BULUŞ
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2328
                        p ercanbulus@nku.edu.tr
                        p ercanbulus.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img src="//bidb.nku.edu.tr/resim.php?no=314" height="275" class="activator">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Doç. Dr. ERDİNÇ UZUN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2325
                        p erdincuzun@nku.edu.tr
                        p erdincuzun.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=243">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Doç. Dr. PINAR TÜFEKCİ
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2343
                        p ptufekci@nku.edu.tr
                        p ptufekci.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=215">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Dr. Öğr. Üyesi ERKAN ÖZHAN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2384
                        p eozhan@nku.edu.tr
                        p eozhan.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=507">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Dr. Öğr. Üyesi AHMET SAYGILI
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2376
                        p asaygili@nku.edu.tr
                        p asaygili.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=581">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Dr. Öğr. Üyesi RABİA KORKMAZ TAN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2455
                        p rkorkmaz@nku.edu.tr
                        p rkorkmaz.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=615">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Arş. Gör. Dr. PINAR CİHAN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2456
                        p pkaya@nku.edu.tr
                        p pkaya.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=2192">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Araş. Gör. BURAK SEVİNÇ
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2387
                        p bsevinc@nku.edu.tr
                        p bsevinc.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=3039">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Araş. Gör. NİHAT EREN ÖZMEN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2365
                        p nozmen@nku.edu.tr
                        p nozmen.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=2492">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Araş. Gör. GÜVENÇ USANMAZ
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2385
                        p gusanmaz@nku.edu.tr
                        p gusanmaz.cv.nku.edu.tr
            div.col.s12.m4.l2
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        <img height="275" class="activator" src="//bidb.nku.edu.tr/resim.php?no=157">
                    div.card-content.academician-title
                        p.card-title.activator.grey-text.text-darken-4 Öğr. Gör. Dr. UFUK ÇETİN
                    div.card-reveal
                        p.card-title.grey-text.text-darken-4.text-center Bilgiler<i class="material-icons right">close</i></p>
                        hr
                        p (0282) 250 - 2436
                        p ucetin@nku.edu.tr
                        p ucetin.cv.nku.edu.tr
    
// End of Page Content
include components/footer.pug