include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.row
            div.col.s6.push-s3
                h3(style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;").blue-text.text-lighten-2 Bilgisayar Mühendisliği Anketleri
        div.row
            div.col.s12
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=91*ee409a09d51060c73aa9dc9d672a47f7"><p>Dış Paydaş Memnuniyet Anketi</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://ogr.nku.edu.tr/"><p>Genel Öğrenci Memnuniyet Anketi(E-Üniversiteye giriş yaparak doldurulması gerekmektedir.)</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=86*218be1e5b6cc736837dc7d651905f8ec"><p>Liderlik anketi</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=85*7b4d3c3f069c00aebb50d1c912bf23fc"><p>Tekirdağ Namık Kemal Üniversitesi Mezun Memnuniyet Anketi</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=87*5efc7d414e54e8dba2f8f4e89e8f59d5"><p>Tekirdağ Namık Kemal Üniversitesi Akademik Personel Memnuniyet Anketi</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=88*5c01ac3ea74c77a57d3d998e9624a673"><p>Tekirdağ Namık Kemal Üniversitesi İdari Personel Memnuniyet Anketi</p></a>
                <hr/>
                <a target="_blank" class="align-self-center" href="http://anket.nku.edu.tr/?ai=90*8d2b9f6c76914d26ca6f7f82e41583ee"><p>Yemekhane Memnuniyeti Anketi</p></a>

// End of Page Content
include components/footer.pug