include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content(style="display: flex; flex-direction: column; align-items: center; margin-top: 2rem;")
        a(target="_blank" href="http://cmf-bm.web.nku.edu.tr/gecmiskataloglar.php?bid=21&aid=87" class="link-primary") 
            p 2020-2021 Katalogu İçin Tıklayınız
        a(target="_blank" href="http://cmf-bm.web.nku.edu.tr/gecmiskataloglar.php?bid=21&aid=86" class="link-primary") 
            p 2019-2020 Katalogu İçin Tıklayınız
        a(target="_blank" href="http://cmf-bm.web.nku.edu.tr/gecmiskataloglar.php?bid=21&aid=85" class="link-primary") 
            p 2018-2019 Katalogu İçin Tıklayınız
        a(target="_blank" href="http://cmf-bm.web.nku.edu.tr/gecmiskataloglar.php?bid=21&aid=84" class="link-primary") 
            p 2017-2018 Katalogu İçin Tıklayınız
        a(target="_blank" href="http://cmf-bm.web.nku.edu.tr/gecmiskataloglar.php?bid=21&aid=83" class="link-primary") 
            p 2016-2017 Katalogu İçin Tıklayınız
// End of Page Content
include components/footer.pug