include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        link(rel='stylesheet', href='./styles/genel-bilgiler.css')
        p.margin-bottom-2 Namık Kemal Üniversitesi, Çorlu Mühendislik Fakültesi, Bilgisayar Mühendisliği Bölümü 2008-2009 öğretim yılında ilk lisans öğrencilerini almıştır. Öncelikle lisans düzeyinde meslek ahlâkı değerlerinin bilincinde, güncel mesleki bilgi ve tasarım becerisi konularında yeterli düzeyde fikir sahibi bilgisayar mühendisi adayları yetiştirme amacına yönelik olarak çalışmaktadır.
        p.margin-bottom-2 Bölümde Yazılım, Donanım ve Bilgisayar Bilimleri olmak üzere üç adet anabilim dalı bulunmaktadır. Bölümün tüm idari sekretarya işleri Fakülte'nin Bölümler Sekreterliği tarafından yürütülmektedir. Bölümde 7 öğretim üyesi, 1 öğretim görevlisi ve 4 araştırma görevlisi olmak üzere kadrolu 12 öğretim elemanı bulunmaktadır. Bölümümüz yüksek lisans programı 2018-2019 eğitim öğretim yılında ilk öğrencilerini almıştır.
        p.text-right Doç. Dr. Ercan Buluş 
        p.text-right Bilgisayar Mühendisliği Bölüm Başkanı 
        
        hr
        h4.field-title Bilgisayar Mühendisliği
        hr

        h4.margin-bottom-1  Başvuru ve Kabul Koşulları 
        p.margin-bottom-2  Ortaöğretimden Mezun Olmak 

        h4.margin-bottom-1  Eğitim Tanımlaması 
        p.margin-bottom-2  Türk Yüksek öğretim kurularında öncel öğrenimin tanınması süreci daha başlangıç aşamasındadır. Bu nedenle Namık Kemal Üniversitesinin tüm programlarında da öncel eğitimin tanınması tam olarak başlatılmış değildir. Ancak, bölümlerin müfredatlarında yer alan zorunlu Yabancı dil dersi için her öğretim yılı başında muafiyet sınavı düzenlenmektedir. Bu derslerden kendi kendilerine öğrenme sürecini tamamlayan ya da değişik yollarla bu derslerdeki öğrenme çıktılarını sağladığını düşünen öğrenciler bu sınavlara girebilme hakkına sahiptir. Sınava giren öğrencilerden başarılı olanlar ders programındaki ilgili dersten muaf olurlar 

        h4.margin-bottom-1  Eğitim Şekli 
        p.margin-bottom-2  Tam Zamanlı 

        h4.margin-bottom-1  Program Profili 
        p.margin-bottom-2  Bilgisayar Mühendisliği Bölümü, her türlü bilgisayar ve bilgi sistemlerinin tasarımı, geliştirilmesi, üretiminin planlanması, bakım onarımı, insan kaynakları gibi geniş çalışma alanlarına sahiptir. Bölümün mezunları özel sektörde ve kamu sektörüne ait fabrika veya işyerlerinde her türlü bilgi sistemlerinin tasarımında, iyileştirilmesinde ve üretiminde çalışılabileceği gibi, serbest çalışma imkanına da sahiptir. 

        h4.margin-bottom-1  Eğitim Öğretim Metotları 
        p.margin-bottom-2  Öğretme - öğrenme yöntem ve stratejileri, öğrencilerin kendi kendine çalışma, yaşam boyu öğrenme, gözlem yapma, başkasına öğretme, sunma, eleştirel düşünme, takım çalışması, bilişimden etkin yararlanma gibi becerilerini arttıracak şekilde seçilmektedir. 
        p.margin-bottom-2 Ayrıca, öğretim tarzının farklı kabiliyetleri olan öğrencileri destekleyecek biçimde olmasına dikkat edilir. Programda kullanılan eğitim-öğretim metotları aşağıdaki listede verilmiştir*: 
        
        table.table.padding-1
            thead
                tr
                th(scope="col") *EĞİTİM-ÖĞRETİM YÖNTEMLERİ
                th(scope="col") BAŞLICA ÖĞRENME FAALİYETLERİ
                th(scope="col") KULLANILAN ARAÇLAR
            tbody
                tr
                    td Ders
                    td Dinleme ve Anlamlandırma
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz
                
                tr
                    td Tartışmalı Ders
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme, eleştirel düşünme, soru geliştirme
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz
                
                tr
                    td Özel Destek / Yapısal Örnekler
                    td Önceden planlanmış özel beceriler
                    td 
                
                tr
                    td Problem Çözme
                    td Önceden planlanmış özel beceriler
                    td 
                
                tr
                    td Vaka Çalışması
                    td Önceden planlanmış özel beceriler
                    td 
                
                tr
                    td Küçük Grup.margin-bottom-2 Tartışması
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme, eleştirel düşünme, soru geliştirme
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz
                
                tr
                    td Gösterim
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme, eleştirel düşünme, soru geliştirme
                    td Gözleme imkan verecek gerçek ya da sanal ortam
                
                tr
                    td Benzetim
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme, eleştirel düşünme, soru geliştirme
                    td Gözleme imkan verecek gerçek ya da sanal ortam
                
                tr
                    td Seminer
                    td Araştırma - yaşam boyu öğrenme, yazma, okuma, Bilişim, Dinleme ve anlamlandırma, yönetsel beceriler
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz, özel donanım
                
                tr
                    td Grup.margin-bottom-2 Çalışması
                    td Araştırma - yaşam boyu öğrenme, yazma, okuma, Bilişim, Dinleme ve anlamlandırma, yönetsel beceriler
                    td İnternet veri tabanları, kütüphane veri tabanları, e-posta, çevrimiçi sohbet, Web tabanlı tartışma forumları
                
                tr
                    td Laboratuvar
                    td Gözlem/durumları işleme, Bilişim, yönetsel beceriler, takım çalışması
                    td Özel donanım
                
                tr
                    td Ödev
                    td Araştırma - yaşam boyu öğrenme, yazma, okuma, Bilişim
                    td İnternet veri tabanları, kütüphane veri tabanları, e-posta
                
                tr
                    td Sözlü
                    td Araştırma - yaşam boyu öğrenme, durumları işleme, soru geliştirme, yorumlama, sunum
                    td 
                
                tr
                    td İnceleme/Anket Çalışması
                    td Araştırma - yaşam boyu öğrenme, durumları işleme, soru geliştirme, yorumlama, sunum
                    td 
                
                tr
                    td Panel
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz, özel donanım
                
                tr
                    td Konuk Konuşmacı
                    td Dinleme ve anlamlandırma, gözlem/durumları işleme
                    td Standart derslik teknolojileri, çoklu ortam araçları, projektör, bilgisayar, tepegöz, özel donanım
                
                tr
                    td Öğrenci Topluluğu Faaliyetleri/ Projeleri
                    td Gözlem/durumları işleme, eleştirel düşünme, soru geliştirme, takım çalışması, Araştırma – yaşam boyu öğrenme, yazma, okuma, yönetsel beceriler, Önceden planlanmış özel beceriler
                    td

        p.margin-bottom-2(style="margin-bottom: 3rem;") (*) Dersin özelliklerine göre burada belirtilen yöntemlerin biri veya birkaçı uygulanabilir. 

        h4.margin-bottom-1  Üst Derece Programlarına Geçiş 
        p.margin-bottom-2 Lisans eğitimini başarı ile tamamlayan adaylar, ALES sınavından geçerli not almaları ve yeterli düzeyde İngilizce dil bilgisine sahip.margin-bottom-2 olmaları koşuluyla lisansüstü (yüksek lisans ve doktora) programlarda öğrenim görebilirler. 

        h4.margin-bottom-1  Ölçme ve Değerlendirme 
        p.margin-bottom-2 Her dönem en az bir vize sınavı uygulanır. Vizelerin yanı sıra, her dönemin başında verilen dönem içeriğinde tarihleri belirtilen proje ve ödevler verilir. Her dönemin sonunda, öğrencinin final sınavına girmek zorundadır. Kriterler (ara sınav, proje, ödev ve final gibi) ve dönem sonu notuna etki oranları dönem başında dağıtılan ve/veya web sitesinde yayınlanan ders içerikleri açık biçimde belirtilir. Öğrenci yönetmeliği ve akademik takvime göre final sınavları üniversite tarafından belirlenen ve ilan edilen tarih ve yer ve zamanlarda yapılır.  Öğrencinin dönem sonu notu ders sorumlusu tarafından ara sınav, proje, ödev ve final sınavı sonuçlarına göre verilir.  
        p.margin-bottom-2 Namık Kemal Üniversitesinde geçme notu 100 üzerinden 60’tır. Ancak Final ya da bütünleme sınav sonucunun en az 50 olması zorunludur. Sınavlar, tam not 100 üzerinden değerlendirilir. Bir dersin yarıyıl/yıl sonu notu; ara sınavın veya ara sınavların aritmetik ortalamasının %30’u ile yarıyıl/yıl sonu sınavında veya bütünleme sınavında alınan notun %70’inin toplamıdır. Ancak, bir dersin yarıyıl/yıl sonu notu; ilgili fakülte/yüksekokul kurulunca karar alınmak ve yarıyıl başında ilan edilmek şartıyla ara sınavın veya ara sınavların aritmetik ortalamasının %30’u ile %50’si arasında, yarıyıl/yıl sonu veya bütünleme sınavında alınan notun %70’i ile %50’si arasında değişebilen ve oranlar toplamı %100 olacak şekilde de hesaplanabilir. Hesaplama sonucunda, ondalık noktadan sonra gelen ilk sayı beşten küçük ise bir alt tam sayıya, beş veya beşten büyük ise bir üst tam sayıya yükseltilerek kesinleştirilir. 
        p.margin-bottom-2 Dönem sonu-bütünleme notu dersin sorumlusu tarafından değerlendirme kriterleriyle birlikte Öğrenci İşlerine teslim edilir. Dönem sonu ve bütünleme notları öğrenci bilgi sisteminde yayınlanarak ilan edilir. (<a href="http://oidb.nku.edu.tr/yonetmenlik/2011eos.pdf ">Bu linkten</a> erişilebilir. ) 
        
        h4.margin-bottom-1  Notlar: 
        p.margin-bottom-2 Alınan her ders için öğrenciye dönem notu olarak aşağıda belirtilen harf notları verilir.  Harf notları, katsayı ve oran karşılıkları aşağıdaki gibidir.Öğrencilerin başarılarının değerlendirilmesinde esas alınan notlama sistemi, aşağıda belirtilen dereceler ve harfler ile ifade edilir: 

        table.table.padding-1
            thead
                tr
                    th(scope="col") Puan 
                    th(scope="col") Harfli Notu 
                    th(scope="col") Katsayı 
                    th(scope="col") Başarı Durumu 
            tbody 
                tr
                    th(scope="row") 90-100 
                    td AA
                    td 4.00
                    td Başarılı
                
                tr
                    th(scope="row") 80-89 
                    td BA
                    td 3.50
                    td Başarılı
                
                tr
                    th(scope="row") 70-79 
                    td BB
                    td 3.00
                    td Başarılı
                
                tr
                    th(scope="row") 65-69 
                    td CB
                    td 2.50
                    td Başarılı
                
                tr
                    th(scope="row") 60-64 
                    td CC
                    td 2.25
                    td Başarılı
                
                tr
                    th(scope="row") 50-59 
                    td DD
                    td 2.25
                    td Başarısız
                
                tr
                    th(scope="row") 30-49 
                    td FD
                    td 1.00
                    td Başarısız
                
                tr
                    th(scope="row") 0-29 
                    td FF
                    td 0.00
                    td Başarısız

        p.margin-bottom-2 Öğrenciler DD, FD yada FF aldıkları dersleri dersin açıldığı ilk dönem almak zorundadırlar. 
        h4.margin-bottom-1  Başarılı Öğrenciler 
        p.margin-bottom-2 Önlisans/lisans öğrenimini tamamlayan ve genel ağırlıklı not ortalaması 3.00 ile 3.49 arasında olan öğrenciler onur öğrencisi; ortalaması 3.50 veya üstü olan öğrenciler ise yüksek onur öğrencisi olarak mezun olurlar. 

        h4.margin-bottom-1  Derecenin Seviyesi 
        p.margin-bottom-2 Lisans 

        h4.margin-bottom-1  Dereceye Yönelik Kurallar 
        p.margin-bottom-2 İlgili dereceyi elde edebilmek için Namık Kemal Üniversitesi önlisans ve lisans eğitim-öğretim yönetmeliğindeki esas ve hükümlerin yerine getirilmesi gerekmektedir. Ayrıca stajlar Namık Kemal Üniversitesi Staj Yönergesi ne uygun sürelerde ve zamanlarda başarılı bir şekilde tamamlanmalıdır. 

        h4.margin-bottom-1  Mezunların İstihdam Olanakları 
        p.margin-bottom-2 Bölümün mezunları özel sektörde ve kamu sektörüne ait fabrika veya işyerlerinde bilgisayar mühendisi olarak görev yapabilirler. 

        h4.margin-bottom-1  Mezuniyet Koşulları 
        p.margin-bottom-2 Bölümümüz öğretim planında belirtilmiş derslerden ve yakmakla yükümlü olduğu staj dan başarılı olunmalıdır. Öğrenciler kayıt yaptırdıktan sonra 1. Sınıf eğitimine başlarlar. İsteği bağlı yabancı dil hazırlık sınıfına kayıt yaptıran öğrenciler ise hazırlık sınıfı eğitimini tamamladıktan sonra 1. Sınıf derslerine kayıt yaptırabilirler. 
// End of Page Content
include components/footer.pug