include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.card(style="margin: 1rem; padding: 1rem;")
            h4(class="card-title text-center") ERASMUS Programı
            div.card-body
                p(style="margin-top: 1rem; margin-bottom: 1rem;") Avrupa Birliği'nin Sokrates/Erasmus programı çerçevesinde, öğrenci ve personel hareketliliği faaliyetleriyle her sene Avrupa'nın değişik üniversitelerinde bir dönem burslu eğitim olanağı sağlanmaktadır. 
                p(style="margin-top: 1rem; margin-bottom: 1rem;") Erasmus hakkında daha fazla bilgi almak için <a href="http://ua.gov.tr/programlar/erasmus-program%C4%B1/y%C3%BCksek%C3%B6%C4%9Fretim-program%C4%B1">tıklayınız</a>. 
                p(style="margin-top: 1rem; margin-bottom: 1rem;") Bölümümüzün Erasmus kapsamında ikili anlaşması bulunan üniversiteler: 
                table.table.table-striped.text-center.w-100
                    tbody
                        tr 
                             td(colspan="3")
                                p.fw-bold İkili Anlaşma Yapılan Üniversiteler  
                             
                         
                        tr 
                            td
                                p.fw-bold Universiteti Aleksander Moisiu  
                             
                            td
                                 p  Arnavutluk 
                                  
                             
                            td
                                 p  Bilgisayar Mühendisliği   
                             
                         
                        tr 
                            td
                                p.fw-bold Konstantin Preslavsky University of Shumen   
                             
                            td
                                 p Bulgaristan   
                             
                            td
                                 p Bilgisayar Mühendisliği   
                             
                         
                        tr 
                            td
                                p.fw-bold AGH University of Science and Technology   
                             
                            td
                                 p Polonya   
                             
                            td
                                 p  Bilgisayar Mühendisliği   
                             
                         
                        tr 
                            td
                                p.fw-bold Transilvania University   
                             
                            td
                                 p Romanya   
                             
                            td
                                 p 
                                     Bilgisayar Mühendisliği   
                             
                         
                        tr 
                            td
                                p.fw-bold Oradea University   
                             
                            td
                                 p Romanya   
                             
                            td
                                 p Bilgisayar Mühendisliği   
                             
                         
                        tr 
                            td
                                p.fw-bold International Balkan University   
                             
                            td
                                 p Makedonya   
                             
                            td
                                 p Bilgisayar Mühendisliği   
                             
                         
                    
                    
// End of Page Content
include components/footer.pug