include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
        <iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Corlu Muhendislik, Çorlu, Turkey&amp;aq=0&amp;oq=çorlu mühend&amp;sll=38.410558,-95.712891&amp;sspn=43.49641,93.076172&amp;ie=UTF8&amp;hq=Corlu Muhendislik,&amp;hnear=Çorlu, Turkey&amp;ll=41.181656,27.817498&amp;spn=0.041215,0.090895&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=17323454322666863040&amp;output=embed"></iframe>
        <h4 style="margin-top: 2rem;">ÇORLU MÜHENDİSLİK FAKÜLTESİ BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ</h4>
        <table style="width: 50%;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Santral</td>
                    <td>(0282) 250 23 00</td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>(0282) 250 99 24 </td>
                </tr>
                <tr>
                    <td>Adres</td>
                    <td>N.K.Ü. Çorlu Mühendislik Fakültesi, 
                        <br/> Bilgisayar Mühendisliği Bölümü 
                        <br/> Silahtarağa Mahallesi Üniversite 1. Sokak
                        <br/> No:13 59860 Çorlu / Tekirdağ</td>
                </tr>
            </tbody>
        </table>

// End of Page Content
include components/footer.pug