include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content(style="display: flex; flex-direction: column; justify-content: center; align-items: center;")
        <img style="width: 100%; max-width: 500px; max-height: 700px; height: auto;" src="./docs/kalitepolitika.jpg" alt="kalite politikası"/>
// End of Page Content
include components/footer.pug