include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        table(class="table table-striped" cellpadding="1" cellspacing="1")
            colgroup
                col
                col
            thead
                tr(height="58")
                    th(colspan="2" height="58" scope="col" style="height: 58px; width: 872px; text-align: center;") BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ KOMİSYON DAĞILIMI<br>
                    <br/>(Güncelleme tarihi: 06.03.2020)   
            tbody
                tr(height="21")
                    td(class="fw-bolder") Kurul/Komisyon Adı 
                    td(class="fw-bolder") Ünvanı ve Üye Adı 
                
                tr(height="21")
                    td(rowspan="3" style="border-right: 1px solid lightgray;") Bölüm Başkanlığı 
                    td Doç. Dr. Ercan BULUŞ (Başkan)
                    
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi H. Nusret BULUŞ (Yardımcı) 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi Ahmet SAYGILI (Yardımcı) 
                
                tr(height="21")
                    td(rowspan="4" style="border-right: 1px solid lightgray;") İntibak Komisyonu 
                    td(style="width: 549px; text-align: center;") Doç. Dr. Ercan BULUŞ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi H. Nusret BULUŞ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Pınar CİHAN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Nihat Eren ÖZMEN&nbsp; 
                
                tr(height="21")
                    td(height="111" rowspan="5" style="border-right: 1px solid lightgray;") Staj Komisyonu 
                    td(style="width: 549px; text-align: center;") Dr. Öğretim Üyesi Ahmet SAYGILI&nbsp; 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Pınar CİHAN 
                
                tr
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Güvenç USANMAZ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Nihat Eren ÖZMEN&nbsp; 
                
                tr(height="21")
                    td(colspan="1" height="148" rowspan="5"  style="border-right: 1px solid lightgray;") Satın Alma Komisyonu 
                    td(style="width: 549px; text-align: center;") Doç. Dr. Ercan BULUŞ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Doç. Dr. Erdinç UZUN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi&nbsp;H. Nusret BULUŞ 
                
                tr
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi Ahmet SAYGILI&nbsp; 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(height="37" style="border-right: 1px solid lightgray;") Bologna Eşgüdüm Komisyonu 
                    td(style="width: 549px; text-align: center;") Dr. Öğretim Üyesi&nbsp;H. Nusret BULUŞ 
                
                tr(height="21")
                    td(height="37" style="border-right: 1px solid lightgray;") ERASMUS Koordinatörü 
                    td(style="width: 549px; text-align: center;") Dr. Öğretim Üyesi&nbsp;H. Nusret BULUŞ 
                
                tr(height="21")
                    td( height="74" rowspan="2" style="border-right: 1px solid lightgray;") Farabi ve Mevlana Koordinatörü 
                    td(style="width: 549px; text-align: center;") Dr. Öğretim Üyesi Erkan ÖZHAN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(rowspan="3" style="border-right: 1px solid lightgray;") Mezuniyet Komisyonu 
                    td(style="width: 549px; text-align: center;") Doç. Dr. Pınar TÜFEKÇİ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Rabia Korkmaz Tan 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Güvenç USANMAZ 
                
                tr(height="21")
                    td(rowspan="3" style="border-right: 1px solid lightgray;") Sektör Tümleşik Eğitim (STE) Komisyonu 
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Dr. Pınar Cihan 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Güvenç USANMAZ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(rowspan="3" style="border-right: 1px solid lightgray;") Eğitim-Öğretim Komisyonu 
                    td(style="text-align: center; height: 40px;") Dr. Öğretim Üyesi&nbsp;H. Nusret BULUŞ 
                
                tr
                    td(style="text-align: center; height: 40px;") Öğr. Gör. Dr. Vildan Atalay AYDIN 
                
                tr
                    td(style="text-align: center; height: 40px;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(height="111" rowspan="3" style="border-right: 1px solid lightgray;") İş Sağlığı ve Güvenliği (İSG) Komisyonu 
                    td(style="text-align: center;") Dr. Öğretim Üyesi Erkan ÖZHAN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Dr. Pınar Cihan 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Rabia Korkmaz Tan 
                
                tr(height="21")
                    td( height="74" rowspan="2" style="border-right: 1px solid lightgray;") Web Sayfası Düzenleme Komisyonu 
                    td(style="text-align: center;") Arş. Gör. Nihat Eren ÖZMEN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(height="111" rowspan="3" style="border-right: 1px solid lightgray;") Laboratuvar Düzenleme ve Bakım Komisyonu 
                    td(style="width: 549px; text-align: center;") Arş. Gör. Nihat Eren ÖZMEN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Burak SEVİNÇ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Güvenç USANMAZ 
                
                tr(height="21")
                    td(height="148" rowspan="4" style="border-right: 1px solid lightgray;") MÜDEK Akreditasyon Komisyonu 
                    td(style="text-align: center;") Doç. Dr. Pınar TÜFEKÇİ 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Pınar Cihan 
                
                tr(height="21")
                    td(height="37" style="height: 37px; text-align: center;") Arş. Gör. Dr. Rabia Korkmaz TAN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Nihat Eren ÖZMEN 
                
                tr(height="21")
                    td(rowspan="2" style="border-right: 1px solid lightgray;") Bölüm Kariyer Temsilcileri 
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Dr. Öğretim Üyesi Ahmet SAYGILI&nbsp; 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Pınar Cihan 
                
                tr(height="21")
                    td( height="74" rowspan="2" style="border-right: 1px solid lightgray;") Bölüm Kalite Temsilcileri 
                    td(style="width: 549px; text-align: center;") Dr. Öğretim Üyesi Erkan ÖZHAN 
                
                tr(height="21")
                    td(height="37" style="height: 37px; width: 549px; text-align: center;") Arş. Gör. Dr. Pınar Cihan 
                
                tr(height="21")
                    td(height="37" style="border-right: 1px solid lightgray;") Uluslararası Öğrenci Koordinatörü 
                    td(style="width: 549px; text-align: center;") Arş. Gör. Güvenç USANMAZ 
// End of Page Content
include components/footer.pug