include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        p Namık Kemal Üniversitesi, Çorlu Mühendislik Fakültesi, Bilgisayar Mühendisliği Bölümü 2008-2009 öğretim yılında ilk lisans öğrencilerini almıştır. Bölüm 2010-2011 öğretim yılında 2. öğretim programına  ilk öğrencilerini almıştır. Bölümde Yazılım, Donanım ve Bilgisayar Bilimleri olmak üzere üç adet anabilim dalı bulunmaktadır.
// End of Page Content
include components/footer.pug