include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        <hr/>
        <h4 style="text-align: center;">Öğrenci Sayısı</h4>
        <hr/>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <p>Eğitim Öğretim Dönemi</p>
                    </td>
                    <td>
                        <p>Öğrenci Sayısı<br />(Örgün Eğitim)</p>
                    </td>
                    <td>
                        <p>Öğrenci Sayısı<br />(İkinci öğretim)</p>
                    </td>
                    <td>
                        <p>Toplam</p>
                    </td>
                </tr>
                <tr  >
                    <td >
                        <p >
                            <strong >2008-2009</strong></p>
                    </td>
                    <td    >
                        <p >29</p>
                    </td>
                    <td    >
                        <p >-</p>
                    </td>
                    <td    >
                        <p >29</p>
                    </td>
                </tr>
                <tr  >
                    <td >
                        <p >
                            <strong >2009-2010</strong></p>
                    </td>
                    <td    >
                        <p >52</p>
                    </td>
                    <td    >
                        <p >-</p>
                    </td>
                    <td    >
                        <p >52</p>
                    </td>
                </tr>
                <tr  >
                    <td >
                        <p ><strong >2010-2011</strong></p>
                    </td>
                    <td    >
                        <p >57</p>
                    </td>
                    <td    >
                        <p >57</p>
                    </td>
                    <td    >
                        <p >114</p>
                    </td>
                </tr>
                <tr  >
                    <td >
                        <p >
                            <strong >2011-2012</strong></p>
                    </td>
                    <td    >
                        <p >57</p>
                    </td>
                    <td    >
                        <p >57</p>
                    </td>
                    <td    >
                        <p >114</p>
                    </td>
                </tr>
                <tr  >
                    <td >
                        <p >
                            <strong >2012-2013</strong></p>
                    </td>
                    <td    >
                        <p >62</p>
                    </td>
                    <td    >
                        <p >62</p>
                    </td>
                    <td    >
                        <p >124</p>
                    </td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong>2013-2014</strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong style="text-align: center;">2014-2015</strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong style="text-align: center;">2015-2016</strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong style="background-color: transparent;">2016-2017</strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong><span style="background-color: transparent;">2017-2018</span></strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong>2018-2019</strong></p>
                    </td>
                    <td    >62</td>
                    <td    >62</td>
                    <td    >124</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong>2019-2020</strong></p>
                    </td>
                    <td    >72</td>
                    <td    >62</td>
                    <td    >134</td>
                </tr>
                <tr>
                    <td  >
                        <p>
                            <strong>2020-2021</strong></p>
                    </td>
                    <td    >71</td>
                    <td    >62</td>
                    <td    >133</td>
                </tr>
                <tr  >
                    <td >
                        <p >
                            <strong>Toplam</strong></p>
                    </td>
                    <td    >
                        <p >772</p>
                    </td>
                    <td    >
                        <p >672</p>
                    </td>
                    <td    >
                        <p >1444</p>
                    </td>
                </tr>
            </tbody>
        </table>
// End of Page Content
include components/footer.pug