include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        h4(class="pt-4 pb-4") Sınavlarda Uyulması Gereken Kurallar</h4>
        ol
            li(class="mb-4") 
                p Sınav salonlarına girildiğinde çanta, kitap, ders notları vb. kişisel eşyalar kürsüye bırakılmalıdır.
            
            li(class="mb-4") 
                p Palto, mont, kaban vb. giysiler sınav başlamadan önce askılara asılmalıdır.
            
            li(class="mb-4") 
                p Sınav salonuna cep telefonu ile girmek fakülte yönetim kurulu kararı ile yasaklanmıştır. 
            
            li(class="mb-4") 
                p Sınava giren her öğrencinin öğrenci kimliğini, kursun kalem, tükenmez kalem, silgi ve ders yürütücüsü tarafından izin verilen materyali hazır bulundurması gereklidir.
            
            li(class="mb-4") 
                p Sınav salonundaki görevliler gerektiğinde öğrencilerin yerlerini değiştirme yetkisine sahiptir
            
            li(class="mb-4") 
                p Sınavların zamanında başlatılabilmesi için öğrencilerin sınav başlamadan 10 dakika önce sınavın yapılacağı alanda bulunmaları gerekmektedir.
            
            li(class="mb-4") 
                p Öğrenciler yoklama işlemi tamamlanmadan sınav salonundan çıkamaz. Yoklama işlemi erken bitmiş dahi olsa sınavın ilk 15dakikası sona ermeden öğrencilerin sınavdan çıkmasına izin verilmeyecektir. Bu sürenin tamamlanmasının ardından öğrenciler sınav salonundaki görevlilerin onayını takiben sınav cevap kâğıtlarını teslim etmek kaydı ile sınav salonundan çıkabilirler.
            
            li(class="mb-4") 
                p Sınavdan öğrenci çıktıktan sonra gelen öğrenci(ler) sınava alınmaz.
            
            li(class="mb-4") 
                p Sınav süresi bitmeden sınav salonunu terk eden öğrencilerin herhangi bir nedenle (örneğin kişisel eşyalarını almak) sınav süresi bitmeden salona tekrar girmelerine izin verilmez.
            
            li(class="mb-4") 
                p Sınavda, izin verilenler dışında tablo, sekil, ders notu vb. belge kullanımı yasaktır. Sınavlar bireyseldir. Ortak çalışma yapılamaz. Aksi tespit edildiğinde gerekli işlem yapılacaktır. Yüksek Öğretim Kurumları Disiplin yönetmeliğine göre sınavda kopya yapmak veya yaptırmak (<a target="_blank" href="http://www.yok.gov.tr/content/view/475/183/lang,tr/">http://www.yok.gov.tr/content/view/475/183/lang,tr/</a>) suçtur ve bu kurala uymayan öğrenciler hakkında disiplin soruşturması yapılır.
            
            li(class="mb-4") 
                p Sınav sırasında öğrencilerin kalem, silgi vb. ile kullanılmasına izin verilmiş olan belge, hesap makinesi vb. eşyaların alış-verisini yapmaları ve her ne sebeple olursa olsun kendi aralarında konuşmaları yasaktır.
            
            li(class="mb-4") 
                p Sınav salonlarında, görevlilerin uyarılarını dikkate almayan, sınav düzeni ve huzurunu bozanlar hakkında Yüksek Öğretim Kurumları Disiplin yönetmeliği uyarınca işlem yapılacaktır.
        p.fw-bold(style="float: right; margin-right: 6rem;") Başarılar...
// End of Page Content
include components/footer.pug