include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.card(style="padding: 3rem;")
            p Fakülte Staj Yönergesi için <a target="_blank" href="http://cmf.nku.edu.tr/StajY%C3%B6nergesi/0/s/7023/4299">tıklayın</a>.</p>
            p Bilgisayar Mühendisliği Bölümü Staj Kuralları için <a target="_blank" href="http://euniversite.nku.edu.tr/kullanicidosyalari/2192/files/Bilgisayar_YeniStajKurallar%C4%B1_13022020.pdf">tıklayın</a>.</p>
            p Staj defterinin hazırlanmasında dikkat edilecek hususlar için <a target="_blank" href="http://euniversite.nku.edu.tr/kullanicidosyalari/2192/files/Staj%20Defterinin%20Haz%C4%B1rlanmas%C4%B1.pdf">tıklayın</a>.</p>
            p NOT: Staj Yönergesi tüm öğrencileri ilgilendiren genel kural ve esasları içerirken Staj Kuralları o bölüme ait kural ve esasları içermektedir.</p>
    // End of Page Content
include components/footer.pug