include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        h3(style="margin: 1rem; margin-bottom: 2rem;") Vizyonumuz
        p Toplumumuzun refah seviyesini Avrupa Toplumları seviyesine yükseltmek için, ülkemiz sanayisinin gerek duyduğu nitelikli, çağdaş bilgisayar mühendislerini yetiştirmek ve sanayinin ülke içi ve dışındaki rekabet gücünü artıracak bilimsel ve öğretime dayalı alt yapıyı oluşturmaktır.
        hr
        h3(style="margin: 1rem; margin-bottom: 2rem;") Misyonumuz
        p Lisans ve lisansüstü seviyesinde, çağdaş, kapsamlı ve güçlü bilgisayar mühendisliği eğitimi vermek, nitelikli, özgün ve yenilikçi araştırmalar yaparak bilimsel ve teknolojik gelişmeye katkı sağlamak, sanayi ve devlet kurumları ile yakın işbirliği içinde olarak bölgesel ve ulusal kalkınmaya katkı sağlamaktır.
// End of Page Content
include components/footer.pug