include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        hr
        h4(class="text-center mt-3 mb-3") Öğrencilerin Başarılı Olması İçin Sahip Olması Gereken Vasıflar
        hr
        ol
            li(class="mt-4 mb-4") 
                p Yaşam boyu öğrenmenin gerekliliği bilinci; bilişim ve teknolojideki gelişmeleri izleme ve kendini sürekli yenileme becerisi
                  
            li(class="mt-4 mb-4") 
                p Türkçe ve en az bir yabancı dilde etkin sözlü ve yazılı iletişim kurabilme
                  
            li(class="mt-4 mb-4") 
                p Temel bilimleri Bilgisayar Mühendisliği alanında kullanma becerisi
                  
            li(class="mt-4 mb-4") 
                p Tasarlanmış sistemleri deneysel yöntemler ile destekleyerek uygulayabilme
                  
            li(class="mt-4 mb-4") 
                p Mühendislik uygulamaları için gerekli olan donanım ve yazılımları kullanma becerisi
                  
            li(class="mt-4 mb-4") 
                p Mesleki ve etik sorumluluklara sahip olma, yetki alabilme ve gereğini yerine getirebilme
                  
            li(class="mt-4 mb-4") 
                p Bireysel olarak ve çok disiplinli takımlarda etkin çalışabilme becerisi, sorumluluk alma özgüveni
                  
            li(class="mt-4 mb-4") 
                p Bilgiye erişebilme ve bu amaçla kaynak araştırması yapabilme, veri tabanları ve diğer bilgi kaynaklarını kullanabilme becerisi
                  
            li(class="mt-4 mb-4") 
                p Analitik düşünce ile bir sistemi, sistem bileşenini ya da süreci analiz etme ve istenen gereksinimleri karşılamak üzere gerçekçi kısıtlar altında tasarlama becerisi; bu doğrultuda modern tasarım yöntemlerini inceleme, iyileştirme ve geliştirmeye yönelik algoritmik çözümler üretebilme becerisi

// End of Page Content
include components/footer.pug