.side-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    flex: 1 0;
}

.side-menu > ul {
    margin: inherit;
    padding: inherit;
}

.side-menu > ul > li {
    margin: .5rem;
}

.side-menu > ul > li > a {
    display: block;
    width: inherit;
}

.side-menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.side-menu-title {
    font-weight: 400;
    font-size: 2.4rem;
}