link(rel='stylesheet' href='./styles/footer.css')
footer
    p
        a(href="http://bidb.nku.edu.tr/") Bilgi İşlem
    p 
        a(href="http://euniversite.nku.edu.tr/") E-Üniversite
    p 
        a(href="https://eposta.nku.edu.tr/") Mail

script(type='text/javascript' src='./scripts/materialize/js/materialize.min.js')
script(type='text/javascript' src='./scripts/global.js')